---
import { getColorClasses, sanitizeDataTag } from '../scripts/badgeUtils.js'

const { 'data-tag': dataTag = '', 'color-scheme': colorScheme = '' } = Astro.props

const sanitizedDataTag = sanitizeDataTag(dataTag)
const { badgeColorClass, buttonColorClass } = getColorClasses(colorScheme)
---

<span
    id={`badge-${sanitizedDataTag}`}
    class={`me-2 hidden items-center rounded px-2 py-1 text-sm font-medium ${badgeColorClass}`}
    data-tags={`#${sanitizedDataTag}`}
>
    #{dataTag}
    <button
        type="button"
        class={`ms-1 inline-flex items-center rounded-sm bg-transparent p-1 text-sm ${buttonColorClass}`}
        data-hide-target={`#badge-${sanitizedDataTag}`}
        data-checkbox-target={`#checkbox-${sanitizedDataTag}`}
        aria-label="Remove"
    >
        <svg
            class="h-2 w-2"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 14 14"
        >
            <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"></path>
        </svg>
        <span class="sr-only">Remove badge</span>
    </button>
</span>
